# Airbnb in New York City - an explorative data analysis

On todays session we want to analyze the Airbnb offer in New York City using and improving our already learned knowledge about data science!

<img src="./_img/NYC_2.jpg"> 

For this tutorial the following commands will be very helpful:

| commands | meaning |
| :-: | :-: |
| `pd.read_csv(<path>)` | Reading a .csv-File from your file System | 
| `len()` | return the length of an input object, for example the row count of an pandas dataframe | 
| `df.columns()` | returns the column names of a dataframe |
| `df.head(<n>)` | returns the first n rows of a dataframe | 
| `df.tail(<n>)` | returns the last n rows of a dataframe | 
| `df.loc[]` | locator to filter a dataframe | 
| `df.loc["<column_name>"]` | filter a dataframe to a given column / return only the specified column of a dataframe | 
| `df.sample(<n>)` | picks randomly n rows out of a dataframe | 
| `df.shape()` | returns the dimensions of a dataframe | 
| `df.unique()` | returns the unique values for each column of a dataframe |  
| `df.groupby("<column_name>")` | groups the information of a dataframe by the specified column | 
| `df.groupby("<column_name>").size()` | return the number of observation in each group | 
| `df.groupby("<column_name>").sort_values()` | sort the output by values, may based on a specified column | 
| `df.groupby("<column_name>").xs("<column_name>")` | extract a specific value set out of a grouped information which consists out of a multi level index | 
| `series.mean()` | calculates the mean value based on the given information list | 
| `df.describe()` | returns a statistical description for all columns of a given dataframe |

## Loading packages and dataset

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
airbnb_NY = pd.read_csv("../data/Airbnb_NYC.csv")

## Get to know the dataset

> **Question 1A)** How many observations yields the dataset?

In [3]:
airbnb_NY.shape

(38733, 10)

> **Question 1B)** What columns are included in the dataset?

In [4]:
airbnb_NY.columns

Index(['Boroughs', 'Latitude', 'Longitude', 'Prop_Type', 'Min_Nights',
       'Host_Listing_Cnt', 'Days_Available', 'Review_Cnt', 'Reviews30d',
       'Price'],
      dtype='object')

Okay, now let's get a quick overview:

> **Question 2A)** show the first 10 observations of the dataset!

In [5]:
airbnb_NY.head(10)

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
0,Bronx,40.80011,-73.91330,PrivateRoom,21.0,2.0,291,19,0.27,60.0
1,Bronx,40.80024,-73.91422,PrivateRoom,3.0,1.0,0,59,2.93,49.0
2,Bronx,40.80074,-73.91574,PrivateRoom,3.0,1.0,354,3,0.87,50.0
3,Bronx,40.80091,-73.91449,PrivateRoom,21.0,2.0,117,18,0.36,71.0
4,Bronx,40.80143,-73.91353,EntireHome,2.0,3.0,0,12,3.50,115.0
5,Bronx,40.80247,-73.91435,EntireHome,2.0,1.0,300,157,3.29,90.0
6,Bronx,40.80270,-73.91563,EntireHome,2.0,3.0,50,14,3.89,109.0
7,Bronx,40.80273,-73.91519,EntireHome,4.0,3.0,134,11,3.40,115.0
8,Bronx,40.80408,-73.92270,EntireHome,2.0,1.0,125,6,0.80,175.0
9,Bronx,40.80461,-73.92276,PrivateRoom,3.0,2.0,248,86,1.12,60.0

> **Question 2B)** show the last 15 observations of the dataset!

In [6]:
airbnb_NY.tail(15)

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
38718,Staten Island,40.64535,-74.09255,PrivateRoom,3.0,2.0,55,2,1.40,54.0
38719,Staten Island,40.64537,-74.08381,PrivateRoom,2.0,1.0,355,79,3.81,100.0
38720,Staten Island,40.64553,-74.08323,EntireHome,3.0,1.0,213,108,1.75,195.0
38721,Staten Island,40.64567,-74.08368,EntireHome,4.0,2.0,53,122,2.58,78.0
38722,Staten Island,40.64579,-74.08027,PrivateRoom,4.0,6.0,158,62,2.73,29.0
38723,Staten Island,40.64591,-74.08399,EntireHome,1.0,1.0,318,115,5.49,125.0
38724,Staten Island,40.64594,-74.08342,PrivateRoom,30.0,4.0,365,52,0.80,169.0
38725,Staten Island,40.64596,-74.08059,EntireHome,4.0,6.0,115,99,3.41,65.0
38726,Staten Island,40.64601,-74.08304,PrivateRoom,30.0,4.0,0,87,1.35,69.0
38727,Staten Island,40.64605,-74.07897,EntireHome,4.0,6.0,247,2,0.15,289.0
38728,Staten Island,40.64641,-74.08502,EntireHome,2.0,1.0,106,58,4.73,130.0
38729,Staten Island,40.64682,-74.08734,PrivateRoom,20.0,1.0,89,58,1.05,43.0
38730,Staten Island,40.64730,-74.08408,PrivateRoom,30.0,4.0,0,85,1.35,105.0
38731,Staten Island,40.64762,-74.08682,EntireHome,3.0,1.0,232,5,1.88,135.0
38732,Staten Island,40.64779,-74.08460,EntireHome,1.0,1.0,250,108,2.32,140.0

> **Question 2C)** choose randomly 15 observations out of the dataset and show them!

In [7]:
airbnb_NY.sample(15)

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
27143,Manhattan,40.77079,-73.95922,PrivateRoom,2.0,1.0,0,19,0.57,100.0
24247,Manhattan,40.75228,-73.96950,EntireHome,2.0,1.0,2,23,2.38,250.0
24115,Manhattan,40.75066,-73.99720,PrivateRoom,2.0,1.0,0,32,1.05,119.0
38592,Staten Island,40.62967,-74.12850,EntireHome,2.0,5.0,249,21,0.85,135.0
21854,Manhattan,40.73410,-74.00104,EntireHome,3.0,1.0,0,1,0.03,150.0
15060,Brooklyn,40.71308,-73.94458,EntireHome,9.0,1.0,69,5,0.39,125.0
12373,Brooklyn,40.69873,-73.93937,PrivateRoom,50.0,1.0,0,2,0.05,30.0
23355,Manhattan,40.74526,-74.00605,EntireHome,1.0,1.0,88,9,6.75,269.0
1968,Brooklyn,40.64024,-74.01573,PrivateRoom,1.0,8.0,251,18,0.59,54.0
22494,Manhattan,40.73939,-74.00614,EntireHome,30.0,1.0,234,24,0.38,140.0
15115,Brooklyn,40.71329,-73.93993,PrivateRoom,2.0,3.0,0,5,4.05,59.0
27855,Manhattan,40.77783,-73.98150,EntireHome,30.0,1.0,186,5,0.09,80.0
26632,Manhattan,40.76619,-73.98987,EntireHome,3.0,1.0,0,17,0.65,179.0
13022,Brooklyn,40.70288,-73.91506,EntireHome,4.0,1.0,0,6,0.14,89.0
25920,Manhattan,40.76318,-73.99009,EntireHome,30.0,1.0,231,7,0.25,125.0

> **Question 2D)** like C) but only the borough, property type and the price should be shown

In [8]:
airbnb_NY.sample(15)[["Boroughs", "Prop_Type", "Price"]]

        Boroughs    Prop_Type  Price
17648  Manhattan   EntireHome  265.0
10692   Brooklyn   EntireHome   97.0
8758    Brooklyn   EntireHome  174.0
17414  Manhattan   EntireHome  220.0
27618  Manhattan   EntireHome  495.0
19704  Manhattan   EntireHome  800.0
17892  Manhattan   SharedRoom   40.0
16192   Brooklyn  PrivateRoom  100.0
6402    Brooklyn  PrivateRoom   48.0
22258  Manhattan   EntireHome  214.0
8513    Brooklyn   SharedRoom   31.0
28254  Manhattan   EntireHome  197.0
25556  Manhattan  PrivateRoom   90.0
33947     Queens   EntireHome  175.0
25871  Manhattan  PrivateRoom   99.0

## The spatial context matters

Let's take a deeper look on the dataset

> **Question 3A)** Which boroughs of NYC are covered by the dataset?

In [9]:
airbnb_NY["Boroughs"].unique()

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

> **Question 3B)** Which different kind of accomodations exists?

In [10]:
airbnb_NY["Prop_Type"].unique()

array(['PrivateRoom', 'EntireHome', 'SharedRoom'], dtype=object)

> **Question 3C)** How many airbnb offers exists per borough?

In [11]:
airbnb_NY.groupby(["Boroughs"]).size()

Boroughs
Bronx              891
Brooklyn         16436
Manhattan        16383
Queens            4695
Staten Island      328
dtype: int64

> **Question 3D)** Order the output from C) by the count of offers!

In [12]:
airbnb_NY.groupby(["Boroughs"]).size().sort_values()

Boroughs
Staten Island      328
Bronx              891
Queens            4695
Manhattan        16383
Brooklyn         16436
dtype: int64

> **Question 3E)** Refine your search: how is the type of property influenced by the boroughs? Provide a list view!

In [13]:
airbnb_NY.groupby(["Prop_Type", "Boroughs"]).size().unstack()

Boroughs     Bronx  Brooklyn  Manhattan  Queens  Staten Island
Prop_Type
EntireHome     308      8163       9776    1770            156
PrivateRoom    532      7992       6258    2772            166
SharedRoom      51       281        349     153              6

> **Question 3F)** Provide a plot to visualize E) 
hint: try at first to provide a barplot only for Bronx and afterwars for all boroughs at the same time)

In [60]:
bronx = airbnb_NY.loc[airbnb_NY["Boroughs"] == 'Bronx']
bronx_prop['Prop_Type'] = bronx['Prop_Type'].copy()
bronx_group = bronx_prop.groupby('Prop_Type').size()
bronx_group

Prop_Type
EntireHome     308
PrivateRoom    532
SharedRoom      51
Name: Prop_Type, dtype: int64

## What about the prices?

> **Question 4A)** Which is the most expensive AirBnB?

In [15]:
airbnb_NY.loc[airbnb_NY["Price"] == airbnb_NY["Price"].max()]

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
17131,Brooklyn,40.7326,-73.95739,EntireHome,5.0,1.0,0,5,0.16,10000.0
37908,Queens,40.7681,-73.91651,PrivateRoom,100.0,1.0,0,2,0.04,10000.0

> **Question 4B)** How many airbnb exists that are in price less than 50 $?

In [16]:
(airbnb_NY["Price"] < 50).sum()

3994

> **Question 4C)** Refining B) in which borough are most of them located?

In [31]:
airbnb_NY.loc[airbnb_NY["Price"] < 50].groupby("Boroughs").count()

,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
Boroughs,,,,,,,,,
Bronx,269,269,269,269,269,269,269,269,269
Brooklyn,2110,2110,2110,2110,2107,2110,2110,2110,2110
Manhattan,550,550,550,549,541,550,550,550,550
Queens,982,982,982,982,943,982,982,982,982
Staten Island,83,83,83,83,83,83,83,83,83

In [17]:
airbnb_NY.loc[airbnb_NY["Price"] < 50].groupby("Boroughs").size()

Boroughs
Bronx             269
Brooklyn         2110
Manhattan         550
Queens            982
Staten Island      83
dtype: int64

> **Question 4D)** Take a closer look at C): provide a ranking of the mean Review-count of these airbnbs per borough!

In [18]:
airbnb_NY.loc[airbnb_NY["Price"] < 50].groupby("Boroughs")["Review_Cnt"].mean()

Boroughs
Bronx            29.866171
Brooklyn         21.005213
Manhattan        23.112727
Queens           34.489817
Staten Island    38.144578
Name: Review_Cnt, dtype: float64

## Statistics count!

> **Question 5A**) What is the mean cost of an airbnb in NYC?

In [19]:
airbnb_NY["Price"].mean()

140.87924801156905

> **Question 5B)** How does the price vary?

In [20]:
airbnb_NY["Price"].std()

194.49089196381803

> **Question 5C)** How is the price changing according to the property type? which property type the less expansive one?

In [21]:
airbnb_NY.groupby("Prop_Type")["Price"].mean()

Prop_Type
EntireHome     194.064842
PrivateRoom     83.992661
SharedRoom      63.109785
Name: Price, dtype: float64

> **Question 5D)** how does the mean airbnb price is changing according to the boroughs?

In [22]:
airbnb_NY.groupby("Boroughs")["Price"].mean()

Boroughs
Bronx             80.919192
Brooklyn         121.223413
Manhattan        177.993713
Queens            95.133120
Staten Island     89.179878
Name: Price, dtype: float64

> **Question 6E)** Which are top 10 rated airbnb per borough? calculate the mean price of them!

In [28]:
for borough in airbnb_NY["Boroughs"].unique():
    top_10 = airbnb_NY.loc[airbnb_NY["Boroughs"] == borough].sort_values("Reviews30d", ascending=False)
    top_10 = top_10[:10]
    print(borough, top_10["Price"].mean())

Bronx 99.4
Brooklyn 79.6
Manhattan 108.6
Queens 52.8
Staten Island 84.8

In [27]:
top_10[:10]

,Boroughs,Latitude,Longitude,Prop_Type,Min_Nights,Host_Listing_Cnt,Days_Available,Review_Cnt,Reviews30d,Price
38596,Staten Island,40.63068,-74.15521,PrivateRoom,2.0,1.0,57,88,9.30,40.0
38552,Staten Island,40.61588,-74.06711,EntireHome,1.0,1.0,122,56,9.13,100.0
38583,Staten Island,40.62830,-74.08645,EntireHome,1.0,1.0,118,9,9.00,60.0
38441,Staten Island,40.56662,-74.10444,PrivateRoom,1.0,2.0,319,60,8.61,45.0
38554,Staten Island,40.61603,-74.08666,EntireHome,1.0,1.0,308,75,8.09,65.0
38546,Staten Island,40.61438,-74.06640,EntireHome,1.0,1.0,299,63,7.81,138.0
38538,Staten Island,40.61050,-74.09132,EntireHome,1.0,1.0,140,10,7.32,115.0
38590,Staten Island,40.62919,-74.08107,EntireHome,1.0,1.0,231,186,7.20,70.0
38667,Staten Island,40.63570,-74.15478,EntireHome,1.0,1.0,135,11,7.17,80.0
38655,Staten Island,40.63513,-74.07929,PrivateRoom,2.0,3.0,325,71,6.14,135.0